.movement-title {
    font-size: 40px;
}
.panel-body {
    display: none;
}
.header {
    width: 100%;
    background-color: #000000;
}
.header img {
    height: 100px;
}
.effect {
    width: 3em;
}
select.effect {
    width: 9em;
}
/*from https://www.w3schools.com/howto/howto_css_switch.asp*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
    display: none;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #2196F3;
}
input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    background: rgba(10, 10, 10, 0.6);
    border-radius: 10px;
    height: 9px;
    outline: none;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, #A9A9A9), color-stop(0.83, #DCDCDC));
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
input[type='range']::-moz-slider-thumb {
    -moz-appearance: none !important;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.32, #A9A9A9), color-stop(0.83, #DCDCDC));
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
input[type="range"]:before {
    position: absolute;
    font: 20px 'FontAwesome';
    color: rgba(255, 255, 255, 0.7);
    content: '\f026';
    top: 0px;
    left: -20px;
}
input[type="range"]:after {
    position: absolute;
    font: 20px 'FontAwesome';
    color: rgba(255, 255, 255, 0.7);
    content: '\f028';
    top: 0px;
    right: -10px;
}
